openapi: 3.0.3

info:
  title: Awesome Management API
  description: REST API for Awesome application
  version: 1.0.0

servers:
  - url: http://localhost:8080/api/v1
    description: Development server

paths:
  /version:
    get:
      operationId: getVersion
      summary: Getting version
      tags:
        - Version
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVersion"

components:
  schemas:
    GetVersion:
      type: object
      required:
        - version
      properties:
        version:
          type: string